
.container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content {
  overflow: hidden;
  max-height: 100px;
}

.container:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.content.expanded {
  max-height: none; /* Altezza massima quando espansa (puoi modificarla) */
}

.toggle-arrow {
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  user-select: none;
}

.content.collapsed .toggle-arrow {
  transform: rotate(0deg);
}

.content.expanded .toggle-arrow {
  transform: rotate(180deg); /* Ruota la freccia quando espanso */
}

.date {
  font-size: 1.5em;
  color: #fff;
  background: linear-gradient(135deg, #d9534f, #e05d5d);
  border: 2px solid #d9534f;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 15px;
  text-align: center;
  /*position: relative;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  transition: transform 0.3s, box-shadow 0.3s;
}

.date:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
